/* Basic Styling */

html {
    font-family: times;
}

body {
    margin: 0;
}

main {
    background: orchid;
    height: 65px;
}

h1 {
    text-align: center;
    color: #000;
    line-height: 30px;
    margin: 0;
}

article {
    padding: 0px;
    margin: 1px;
    background: aqua;
}

/* Flex Containers */

button {
    flex: 1 auto;
    margin: 5px;
    font-size: 18px;
    line-height: 1.5;
}



article {
    flex: 1 200px;
}

article:nth-of-type(2) {
    flex: 3 200px;
    display: flex;
    flex-flow: column;
}

main {
    display: flex;
}

