body {
    background: lightcyan;
    margin: 0;
}


.container {
  display: grid;
  grid-template-areas:
    "header header"
    "sidebar content"
    "footer footer";
    grid-template-columns: 200px 200px 200px;
    gap: 20px;
}
header {
  grid-area: header;
}

article {
  grid-area: content;
}

aside {
  grid-area: sidebar;
}

footer {
  grid-area: footer;
}
#g{
    grid-column-start
    grid-column-end
    grid-row-start
    grid-row-end
    border-color: green;
}
#g2{
    grid-column-start
    grid-column-end
    grid-row-start
    grid-row-end
    border-color: red;
}
#g3{
    grid-column-start
    grid-column-end
    grid-row-start
    grid-row-end
    border-color: blue;
}
#g4{
    grid-column-start
    grid-column-end
    grid-row-start
    grid-row-end
    border-color: orange;
}
#g5{
    grid-column-start
    grid-column-end
    grid-row-start
    grid-row-end
    border-color: purple;
}
