body {
    background: lightcyan;
    margin: 0;
}


.container {
  display: grid;
  grid-template-areas:
    "header header"
    "sidebar content"
    "footer footer";
    height: 800px;
    width: 800px;

    gap: 2px;
}

#g1{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    height: 2fr;
    width: 2fr;
    border: 8px solid green;
}
#g2{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    height: 2fr;
    width: 1fr;
    border: 8px solid yellow;
}
#g3{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
    height: 1fr;
    width: 1fr;
    border: 8px solid orange;
}
#g4{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    height: 1fr;
    width: 1fr;
    border: 8px solid yellow;
}
#g5{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;

    border: 8px solid orange;
}
#g6{
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 5;
    width: 1fr;
    height: 1fr;
    border: 8px solid green;
}
